.row {
    padding: 0;
    margin: 0;
}

.category-sidebar {
    position: inherit;
}

.category-add {
    justify-content: space-evenly;
    background-color: #ffc107;
}

.category-add form {
    background-color: #DAB86E;
    padding: 1em;
}