/* searchBar */
#searchForm {
    display: flex;
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}

.form-control:focus#search {
    box-shadow: none;
}

.form-control#search {
    padding: 0;
}

#search {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

#searchForm:hover>#search {
    padding: 0 10px;
    width: 450px;
    caret-color: red;
    transition: width 0.4s linear;
}

#searchForm:hover>.search_icon {
    background: white;
    color: #e74c3c;
}
 
.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}

/* counter shopping-cart */
.has-badge[data-count]:after {
    position: absolute;
    right: -1em;
    top: 1em;
    content: attr(data-count);
    font-size: .4em;
    padding: .5em;
    border-radius: 50%;
    line-height: 1em;
    color: white;
    background: rgba(255, 0, 0, .85);
    text-align: center;
    min-width: 2em;
    font-weight: bold;
} 