{% block header %}
<header class="main-header">
    <!-- logo for sidebar -->
    <a class="navbar-brand thesaurilittera" href="{{ path('home') }}" target="_blank"><img
            src="https://img.icons8.com/flat_round/64/000000/bookmark-book.png" width="50"
            height="50">Thesaurilittera</a>

    <!-- admin dashbord -->
    <a href="{{ path('admin')}}">Dashboard</a>

    <!-- header navbar -->
    <nav class="navbar navbar-static-top">
    </nav>
</header>
{% endblock %}