.container .tridim {
    position: relative;

}

.row.onthetop {
    display: flex;
    justify-content: space-between;
}

.carousel-3d {
    width: 400px;
    height: 200px;
    position: relative;
    left: 50%;
    transform: translate(-50%); 
    perspective: 1000px;
    transform-style: preserve-3d;
    margin-bottom: 5em;
    margin-top: 5em;
}

.carousel-3d .item-3d {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 1s;
    
    border: 1px solid black;
}

.item-3d {
    background-color: #f9f5a8f0;
    display: flex;
    
}

.item-3d .img-3d-book {
    width: 50%;
}

.item-3d img {
    /* width: 50%; */
    height: 100%;
    padding: 1em;
}

.item-3d .content-3d-book {
    width: 75%;
}

p.summary-3d-book {
    font-size: 0.7em;
}

p.category-3d-book {
    font-size: 0.8em;
}



@media screen and (max-width: 769px) {
    .carousel-3d {
        width: 200px;
        height: 100px;
    }
    .content-3d-book {
        font-size: 0.5em;
    }
}
