{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/footer.css') }}">
{% endblock %}

{% block footer %}
<!-- Footer -->
<footer class="page-footer font-small blue-gry lighten-5  mt-4 pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mb-4">Informations</h5>
                <ul class="list-unstyled">
                    <li>
                        <p>
                            <a href="#">Qui sommes-nous ?</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#">Mentions légales</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#">CGV</a>
                        </p>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mb-4">Services</h5>

                <ul class="list-unstyled">
                    <li>
                        <p>
                            <a href="#">Service client</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            Paiements sécurisés
                        </p>
                    </li>
                    <li>
                        <p>
                            Expédition sous 24H
                        </p>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Contact details -->
                <h5 class="font-weight-bold text-uppercase mb-4">Contact</h5>

                <ul class="list-unstyled">
                    <li>
                        <p>
                            <i class="fas fa-home mr-3"></i>12,rue de la presse 75000 Paris</p>
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-envelope mr-3"></i> thesaurilittera@gmail.com</p>
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-phone mr-3"></i> + 01 02 03 04 05</p>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

                <!-- Social buttons -->
                <h5 class="font-weight-bold text-uppercase mb-4">Suivez-nous</h5>

                <!-- Facebook -->

                <a href="#"><i class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->

                <a href="#"><i class="fab fa-twitter"></i></a>

            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© {{ "now"|date('Y') }} Copyright - Thesaurilittera</div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
{% endblock %}