{% extends 'base.html.twig' %}

{% block title %}Livraison{% endblock %}


{% block body %}
<div class="container">
    {% if app.user %}
    <div class="row col-md-12">
        <div class="row-flex col-md-6">
            <h2>Adresse de livraison</h2>
            <div class="row col-md-12">
                <h5>Adresse de livraison</h5>
            </div>
            <div class="row col-md-12">
                <h5>Adresse de facturation</h5>
            </div>

            <a href="{{path('validate')}}" class="btn btn-primary">Valider les adresses</a>

        </div>
        <div class="row col-md-6">
            <h2>Modifier l'adresse de livraison</h2>
            {{form(formAddress)}}
        </div>
    </div>
    {% else %}

    {% endif %}
</div>


{% endblock %}