{% form_theme formSearch 'bootstrap_4_layout.html.twig' %}

{{ form_start(formSearch, {'attr': {'action': path('handleSearch')},
                           'attr': {'id': 'searchForm'} })                       
}}

{{ form_widget(formSearch, {'attr': {'placeholder': "Rechercher un livre"}} )}}

<a href="{{ path('search') }}" class="search_icon"><i class="fas fa-search"></i></a>

{{ form_end(formSearch) }}