{% extends 'base.html.twig' %}

{% block title %}
<title>Résultats de la recherche</title>
{% endblock title %}

{% block body %}
<h1>Résultat(s) de la recherche</h1>

{% for book in books %}
<p> {{ book.title }}</p>
{% endfor %}

{% endblock body %}