{% extends 'base.html.twig' %}

{% block title %}
<title>Résultats de la recherche</title>
{% endblock title %}

{% block body %}
<div class="jumbotron mt-4 resultSearch">
    <div class="container">
        <h1>Résultat(s) de la recherche</h1>
        <br>
        {% for book in books %}
        <p> <a href="{{ path('showBook',{id:book.id, slug: book.slug}) }}"> {{ book.title }} </a> <br>
            {{ book.author.firstname }}
            {{ book.author.name }}
        </p>
        <hr>
        {% endfor %}
    </div>
</div>
{% endblock body %}