{% form_theme formSearch 'bootstrap_4_layout.html.twig' %}

{{ form_start(formSearch, {'action': path('resultSearch',{'search': 'search'}), 'method': 'GET',
                           'attr': {'id': 'searchForm'} })                                                                          
}}

{{ form_widget(formSearch, {'attr': {'placeholder': "Rechercher un livre, un auteur",
                            'id': 'searchBar'} })
}}

<button class="btn btn-link search_icon" id="button"><i class="fas fa-search"></i></button>

{{ form_end(formSearch) }}