.book-random {
    margin-top: 2em;
    margin-bottom: 1.5em;
    display: inline-block;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.1);
    /* border: 1px solid blue; */
}

.book-random>h3 {
    text-align: center;
    padding: 1em;
}

.card-selection .card-body {
    display: flex;
    justify-content: space-around;
}

.card-selection .card-img-left {
    width: 60%;
}