.row {
    position: inherit;
    padding: 0%;
    margin: 0%;
}

.author-add {
    justify-content: space-evenly;
    background-color: #ffc107;
}

.author-add form {
    background-color: #DAB86E;
    padding: 1em;
}