{% extends 'base.html.twig' %}

{% block title %}Librairie{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Voici l'ensemble des livres destinés à la vente</h1>
    </div>
{% endblock %}
